@charset "utf-8";
/* 全局样式 */
body,p,ul,input,h1,h2,h3,h4,h5,h6,dd,dl{
    margin:0;
    /* font-size:16px; */
    line-height: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
input{
    padding:0;
    border:none;
    outline-style:none;/*input标签有上下左右都有的border:2px;padding:1px;*/
}
ul{
    padding-left:0;
    list-style-type:none;
}
a{
    text-decoration:none;/* 默认是underline */
    color:#222;
}
.clearfix:after{
    content: "";
    display:block;
    height:0;
    font-size:0;
    clear:both;
    overflow:hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w1228{
    width:1228px;
}
.red{
    background-color:#e53935;
}
.green{
    background-color:#83c44e;
}
  @font-face {
    font-family: 'iconfont';
    src: url('../font/search/iconfont.eot');
    src: url('../font/search/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/search/iconfont.woff2') format('woff2'),
        url('../font/search/iconfont.woff') format('woff'),
        url('../font/search/iconfont.ttf') format('truetype'),
        url('../font/search/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/good-nav/iconfont.eot');
    src: url('../font/good-nav/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/good-nav/iconfont.woff2') format('woff2'),
        url('../font/good-nav/iconfont.woff') format('woff'),
        url('../font/good-nav/iconfont.ttf') format('truetype'),
        url('../font/good-nav/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/f/iconfont.eot');
    src: url('../font/f/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/f/iconfont.woff2') format('woff2'),
        url('../font/f/iconfont.woff') format('woff'),
        url('../font/f/iconfont.ttf') format('truetype'),
        url('../font/f/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/more/iconfont.eot');
    src: url('../font/more/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/more/iconfont.woff2') format('woff2'),
        url('../font/more/iconfont.woff') format('woff'),
        url('../font/more/iconfont.ttf') format('truetype'),
        url('../font/more/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/shopping/iconfont.eot');
    src: url('../font/shopping/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/shopping/iconfont.woff2') format('woff2'),
        url('../font/shopping/iconfont.woff') format('woff'),
        url('../font/shopping/iconfont.ttf') format('truetype'),
        url('../font/shopping/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/video/iconfont.eot');
    src: url('../font/video/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/video/iconfont.woff2') format('woff2'),
        url('../font/video/iconfont.woff') format('woff'),
        url('../font/video/iconfont.ttf') format('truetype'),
        url('../font/video/iconfont.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'iconfont';
    src: url('../font/nav/iconfont.eot');
    src: url('../font/nav/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/nav/iconfont.woff2') format('woff2'),
        url('../font/nav/iconfont.woff') format('woff'),
        url('../font/nav/iconfont.ttf') format('truetype'),
        url('../font/nav/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  