@charset "utf-8";
/* 头部样式 */
#header>#top-nav{
    position: relative;
    width:100%;
    background-color:#333;
    z-index: 99;

}
#header #top-nav .nav-content{
    height:40px;
    margin:0 auto;
}
#header #top-nav .nav-content .left-nav>li,
#header #top-nav .nav-content .right-nav>li{
   float: left;
   padding-right:6px;
}
#header #top-nav .nav-content .left-nav>li+li,
#header #top-nav .nav-content .right-nav>li+li{
    position: relative;
    padding-left:6px;
}
#header #top-nav .nav-content .left-nav>li+li::before,
#header #top-nav .nav-content .right-nav>li+li::before{
   content:"";
   position: absolute;
   top:35%;
   left:0;
   width:1px;
   height:12px;
   background-color:#585654;
}
#header #top-nav .nav-content li>a{
    display:block;
    color:#a4a4a4;
    font-size:12px;
    line-height:40px;
}
#header #top-nav .nav-content li>a:hover{
    color:#fff;
}
#header #top-nav .nav-content li>a:hover .more{
    display:block;
}
#header #top-nav .nav-content .left-nav .more{
    display:none;
    box-sizing: border-box;
    position: absolute;
    left:0;
    right:0;
    transform:translateX(-27%);
    width:125px;
    height:150px;
    /* border:1px solid #ccc; */
    padding:20px 20px 15px;
    color:#000;
    font-size:14px;
    box-shadow: 0 0 1px #ccc;

}
#header #top-nav .nav-content .left-nav .more::before{
    content:"";
    position: absolute;
    top:-9px;
    left:0;
    right:0;
    width:0;
    margin:0 auto;
    border-width:0 9px 9px;
    border-style:solid;
    border-color:transparent transparent #fff;
}
#header .nav-content .left-nav .more>img{
    display:block;
    width:88px;
    height:88px;
    margin-bottom:10px;
}
#header .nav-content .shopping-car>a{
    display:block;
    position: relative;
    height:16px;
    padding:12px 24px 12px 20px;
    line-height: 16px;
    font-size:12px;
    color:#a4a4a4;
}
#header .nav-content .shopping-car>a:hover{
    background-color:#fff;
    color:rgb(241, 20, 20);
}
#header .nav-content .shopping-car>a:hover .shopping-more{
    height:100px;
}
#header .nav-content .shopping-car>a>.shopping-more{
    overflow: hidden;
    position: absolute;
    top:40px;
    right:0;
    width:318px;
    height:0;
    background-color:#fff;
    line-height:100px;
    text-align:center;
    font-size:12px;
    z-index:4;
    transition:.3s;
    box-shadow: 0 1px 1px #ccc;
}
#header .nav-content .shopping-car .shopping-more>span{
    color:#000;
}

/* 以上为top-nav样式 */


#header #main-nav{
    position: relative;
    width:100%;
}
#header #main-nav .main-content{
    display:flex;
    justify-content: space-between;
    height:100px;
    margin:0 auto;
}
#header #main-nav .main-content .main-content-l{
    display:flex;
    width:235px;
    height:100px;
}
#header .main-content .main-content-l>li:nth-child(1)>a{
    display: block;
    width:55px;
    height:55px;
    margin-top:20px;
    font-size:12px;
    overflow: hidden;
}
#header .main-content .main-content-l>li:nth-child(1) img,
#header .main-content .main-content-l>li:nth-child(2) img{
    display: block;
    /* margin-top:20px; */
}
#header .main-content .main-content-l>li:nth-child(1) img{
    width:55px;
    height:55px;
    background-color:#ff6700;
}
#header .main-content .main-content-l>li:nth-child(2) img{
    width:166px;
    height:55px;
    margin-left:14px;
    margin-top:20px;
}
/* 以上为mian-content左部样式 */
#header #main-nav {
    position: relative;
    z-index: 3;
}
#header #main-nav .main-content .main-content-mgood{
    display:flex;
}
#header #main-nav .main-content .main-content-mgood>li{
    margin:40px 0;
    padding:0 9px;
}
#header #main-nav .main-content .main-content-mgood>li>a:hover{
    color:#ff0800;
}
#header #main-nav .main-content .main-content-m .more-show{
    position: absolute;
    left:0;
    top:100px;
    width: 100%;
    height:0;
    background-color:#fff;
    transition:.3s;
    z-index: 3;
    box-shadow: 0 1px 5px #ccc;
}
#header #main-nav .main-content .main-content-mgood:hover+.more-show{
    height:230px;
}
    /* border-top:1px solid #ccc; */
    /* transition:1s; */
#header #main-nav .main-content .main-content-m .smallmi-more{
    display:flex;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top:100px;
    left:234px;
    height:230;
    font-size:12px;
    z-index: 4;
    
}
#header #main-nav .main-content .mgood-one:hover .smallmi-more{
    visibility: visible;
    transition:.3s;
}
#header #main-nav .main-content .smallmi-more>li img{
    display:block;
    margin:15px 20px;
}
#header #main-nav .main-content .smallmi-more>li p{
    width:64px;
    height:20px;
    margin:0 auto;
    line-height:20px;
    color:#ff6700;
    text-align:center;
}
#header #main-nav .main-content .smallmi-more>li .p-border{
    border:1px solid #ff6700;
}
#header #main-nav .main-content .smallmi-more>li h3{
    padding-bottom:7px;
    font-size:12px;
    text-align:center;
}
#header #main-nav .main-content .smallmi-more>li span{
    display:block;
    color:#ff6700;
    text-align:center;
}

/* 以上为main-content中部样式 */
#header #main-nav .main-content .search{
    position: relative;
    
}
#header #main-nav .main-content .search>input[type=text]{
    width:245px;
    height:50px;
    margin-top:25px;
    border:none;
    border:1px solid #ccc;
   
}
#header #main-nav .main-content .search>input[type=submit]{
    box-sizing: content-box;
    position:absolute;
    right:0px;
    top:1px;
    bottom:0;
    margin: auto 0;
    width:50px;
    height:50px;
    border:1px solid #ccc;
    background-color:#fff;
    /* opacity:0; */
    font-size:22px;
    cursor:pointer;
    outline: 0; 
} 
#header #main-nav .main-content .search input[type=text]:focus,
#header #main-nav .main-content .search input[type=text]:focus+input[type=submit]
{
    outline:1px solid #ff0800;
}
#header #main-nav .main-content .search .search-box:hover,
#header #main-nav .main-content .search .search-word a:hover
{
    background-color:#ff6700;
    color:#fff;
}
#header #main-nav .main-content .search .search-word{
    position: absolute;
    top:40px;
    right:60px;
    bottom:0;
}
#header #main-nav .main-content .search .search-word a{
    background-color:#ccc;
    font-size:12px;
}