body{
	background-color: lightgoldenrodyellow;
}
#wrap{
	position: relative;
	margin:  200px auto;
	width: 800px;
	height: 360px;
}
.pic{
	width: 800px;
	height: 360px;
	perspective: 800px;  /*景深*/
}
.pic ul li{
	position: relative;
	float: left;
	width: 200px;
	height: 360px;
	transform-style: preserve-3d;
}
.pic ul li div{
	position: absolute;
	top:0;
	left: 0;
	width: 200px;
	height: 360px;
}
/*一个li标签中的四个div*/
.pic ul li div:nth-child(1){
	top: -360px;
	transform-origin: bottom;
	transform:translateZ(180px) rotateX(90deg);
	background:url(../img/a.jpg);
}
.pic ul li div:nth-child(2){
	top: 360px;
	transform-origin: top;
	transform:translateZ(180px) rotateX(-90deg);
	background:url(../img/b.jpg);
}
.pic ul li div:nth-child(3){
	transform:translateZ(180px);
	background:url(../img/c.jpg);
}
.pic ul li div:nth-child(4){
	transform:translateZ(-180px) rotateX(180deg);
	background:url(../img/d.jpg);
}
/*四个li标签中的四个div*/
.pic ul li:nth-child(1) div{
	background-position:0 0;
}
.pic ul li:nth-child(2) div{
	background-position:-200px 0;
}
.pic ul li:nth-child(3) div{
	background-position:-400px 0;
}
.pic ul li:nth-child(4) div{
	background-position:-600px 0;
}

.pic ul li:nth-child(1){
	transition:1s 0s;
}
.pic ul li:nth-child(2){
	transition:1s .1s;
}
.pic ul li:nth-child(3){
	transition:1s .2s;
}
.pic ul li:nth-child(4){
	transition:1s .3s;
}
/*按钮*/
#tab{
	position:absolute;
	width:200px;
	height:25px;
	left:50%;
	margin-left: -63px;
	bottom:10px;
}
#tab ul li{
	width:25px;
	height:25px;
	background:#999;
	color:#fff;
	font-size:12px;
	text-align:center;
	line-height:25px;
	font-family:'Microsoft yahei';
	float:left;
	cursor:pointer;
	margin:0 3px;
	border-radius:100%;
}
#tab ul li.on{
	background:dodgerblue;
}